.theme_clr {
  color: #1e8ea5;
}

.theme_bg {
  background-color: #1e8ea5 !important;
}

.pd_240 {
  padding: 30px 80px 0 240px;
}

.pd_140 {
  padding: 30px 80px 0 140px !important;
}

.fs_30 {
  font-size: 30px;
}

.pd_ins {
  padding: 5px 40px !important;
}

.top_10 {
  top: 10px !important;
}

.clr_6e7178 {
  color: #6e7178;
}

.logo_size {
  width: 167px;
  height: 33px;
  cursor: pointer;
}

.txt_c {
  text-align: center;
}

.h_55 {
  height: 55px !important;
}

.mr_10 {
  margin-right: 10px;
}

.mr_3 {
  margin-right: 3px;
}


.mrgl_30 {
  margin-left: 30px !important;
}

.mrgt_30 {
  margin-top: 30px !important;
}

.pdt_50 {
  padding-top: 50px;
}

.mart_50 {
  padding-top: 50px;
}

.mrt_0 {
  margin-top: 0px !important;
}

.h_60 {
  height: 60px !important;
}

.pdt_20 {
  padding-top: 20px !important;
}

.pdb_50 {
  padding-bottom: 50px;
}

.h_50 {
  height: 50px !important;
}

.h_20 {
  height: 20px !important;
}

.cb_262626 {
  color: #262626;
}

.fs_12 {
  font-size: 12px;
}

.fs_14 {
  font-size: 14px;
}

.pt_5 {
  padding-top: 5px;
}

.fs_16 {
  font-size: 16px;
}

.fw_500 {
  font-weight: 500;
}

.cp {
  cursor: pointer;
}

.ls_1 {
  letter-spacing: 1px;
}

.ls_7 {
  letter-spacing: 0.7px;
}

.pdl_10 {
  padding-left: 10px;
}

.bb_none {
  border-bottom: none !important;
}

.clr_red {
  color: #DE626D;
}

.bdr_1 {
  border-top: 1px solid #e9e9e9 !important;
}

.pdl_30 {
  padding-left: 30px !important;
}

.pdt_0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.wm_10 {
  width: 102% !important;
  margin-left: -10px !important;
}

.mrt_16 {
  margin-top: 16px;
}

.mrb_10 {
  margin-bottom: 10px;
}


.pdr_10 {
  padding-right: 10px;
}

.clr_8692A6 {
  color: #8692A6;
}

.fsi {
  font-style: italic;
}

.tar {
  text-align: right;
}

.mrgrt {
  margin: 15px 10% 0 0;
}

.mt_40 {
  margin-top: 40px;
}

.pdr_35 {
  margin-left: 35px;
}

.pdl_20 {
  padding-left: 20px;
}

.bg_fafaff {
  background-color: #FAFAFF !important;
}
