body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.main_container_all_jobs {
  background-color: #fff;
  margin: 20px 0 20px 200px;
  font-size: 12px;
  width: 80%;
}

.all_jobs_section {
  font-size: 16px;
  color: #57647b;
  margin: 16px 0px 10px 60px;
  position: relative;
  width: 100%;
  height: 100vh;
}

.all_jobs {
  margin: 20px 60px;
  display: flex;
  justify-content: space-between;
}

.create_a_job {
  width: 133px;
  height: 33px;
  float: right;
  margin-bottom: 20px;
  background-color: #4f4f4f;
  color: #fff;
  font-size: 14px !important;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #fff;
    color: #4f4f4f;
    border: 1px solid #4f4f4f;
  }
}

.fs_700 {
  font-weight: 700;
}

.fs_30 {
  font-size: 30px;
}

.mr_40_60 {
  margin: 20px 0 20px 60px !important;
}

.search_bar {
  position: relative;
  margin-top: 44px;
}


.magnifying-glass {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11px;
  padding: 0 20px;
  color: #1e8ea5;
}

.search_part_number {
  width: 330px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #8692a6;
  padding: 13px 48px;
  margin-right: 24px;
}

.search_btn {
  width: auto;
  height: 29px;
  background-color: #1e8ea5;
  border-radius: 4px;
  padding: 0 10px;
  border: none;
  color: #fff;
  font-size: 14px;

  &:hover {
    border: 1px solid #1e8ea5;
    color: #1e8ea5;
    background-color: #fff;
  }
}

.mrg_l {
  margin-left: 60px;
}

.job_btn {
  width: auto;
  height: auto;
  background-color: transparent;
  color: #1e8ea5;
  font-size: 12px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #fff;
    border: 1px solid #1e8ea5;
    color: #1e8ea5;
  }
}

.border {
  border: 1px solid #1e8ea5 !important;
}

.d_flex {
  display: flex;
  flex-direction: row;
}

.accordion_list {
  height: 50px !important; 
}

ul.accordion-list-dashboard {
  position: relative;
  display: block;
  width: 100%;
  // height: 50px;
  list-style: none;
  background-color: transparent;
  li {
    position: relative;
    display: block;
    width: 103%;
    height: auto;
    background-color: #fff;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0;
    &.active {
      .angle_down_ico {
        transform: rotate(-180deg);
      }
    }

    div.dashboard_answer {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      // padding: 10px;
      cursor: pointer;
      background-color: #fff;
      // margin-top: 10px;
      border-radius: 5px;
      font-size: 12px;
      // margin-left: -10px;
    }
  }
}

.mrl_30 {
  margin-left: -30px !important;
}

.bb_1 {
  border-bottom: 1px solid #e9e9e9;
}

.row_class {
  box-shadow: 0 0 0 #f4f4f4, 0 1px 1px 1px #f4f4f4;
  border-radius: 4px;
  padding: 8px 0;
  margin-top: 10px !important;
}

.angle_down_ico {
  color: #8692a6;
}

.job_row_cont {
  border-bottom: 1px solid #e9e9e9;
  color: #262626;
  background: #fff;
  padding: 10px;
  height: 40px;
}

.job_row_class {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #262626;
  align-items: center;
}

.job_category {
  width: 13%;
  color: #2c3139;
  border-radius: 4px;
  padding: 4px;
  margin: 0 10px;
}

.created {
  background-color: #e8e6f1;
}

.bids_received_all_jobs {
  background-color: #d1e8ec;
}

.bids_accept {
  background-color: #faeccc;
}

.orders_made {
  background-color: #d2e4f6;
}

.completed_jobs {
  background-color: #eadaff;
}

.no_of_jobs {
  width: 28%;
}

.licence_plate {
  width: 26%;
}

.pd_l {
  padding-left: 10px;
}

.completion_date {
  width: 25%;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  text-align: center;
}

.angle_center {
  transform: translate(50%, 10%);
}

.cb {
  color: #262626 !important;
}

.sqrt_box {
  width: 10px;
  height: 10px;
  background-color: #1e8ea5;
  border-radius: 2px;
  margin-right: 8px;
  opacity: 0.7;
}

.violet_bg {
  background-color: #8b83ba;
}

.sqr_color {
  background-color: #e49f00;
}

.theme_color {
  color: #1e8ea5;
}

.fs_12 {
  font-size: 12px;
}

.sqrt_theme_color {
  background-color: #1e8ea5;
}

.completed {
  background-color: #8692a6;
}

.quotes_req {
  display: flex;
  align-items: center;
  width: 166px;
  font-size: 12px;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 2px 12px;
  margin-left: 10px;
}

.all_jobs_card {
  width: 255px;
  height: 200px;
  background-color: #fff !important;
  margin-top: 15px;
  font-size: 12px;
  border-radius: 5px;
  border: none !important;
  box-shadow: 0 0 0 #adb5bd, 0 1px 1px 1px #adb5bd;
}

.card_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.part_name {
  margin-right: 10px;
  color: #262626;
  font-size: 14px !important;
  font-weight: 400;
}

.supp_name {
  color: #1e8ea5;
  margin-left: 10px;
  font-weight: 400;
}

// .part_id {
//   margin-right: 66px;
//   margin-bottom: 10px;
// }

.part_desc_all_jobs {
  margin-top: 20px;
  font-size: 12px;
}

.all_jobs_card_content {
  height: 110vh;
  background-color: #fff;
}

.row {
  padding-right: 0px !important;
}

.col {
  margin-bottom: 15px !important;
}

// .description_all_jobs {
//   padding-top: 17px;
// }

.manufacturer {
  padding: 10px 0;
}

.parts_info_all_jobs {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  align-items: center;
}

.parts__delivery_info {
  display: flex;
  flex-direction: column;
}

.req_qoutes {
  width: auto;
  height: 27px;
  float: right;
  background-color: #1e8ea5;
  color: white;
  padding: 0px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #fff;
    color: #1e8ea5;
    border: 1px solid #1e8ea5;
  }
}

.view_bids {
  width: auto !important;
}

.text_color {
  color: #1e8ea5;
  font-weight: 400;
  font-size: 12px;
}

.parts_required {
  display: flex;
  flex-direction: row;
}

.parts_dd {
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.show_bids {
  background-color: transparent;
  color: #57647b;
  font-size: 12px;
  padding-right: 5px;
}

.parts_req {
  display: flex;
  padding: 10px 0 12px 0;
  font-size: 18px;
}

.bids_rec_text {
  display: flex;
  align-items: center;
  color: #333333;
  font-weight: 600;
}

.float_right {
  float: right;
}

.pt_40 {
  padding-top: 40px;
}

.w_3 {
  width: 3%;
}

.w_13 {
  width: 13%;
}

.w_5 {
  width: 5%;
}

.w_7 {
  width: 7%;
}

.w_25 {
  width: 25%;
}

.w_17 {
  width: 17%;
}

.w_14 {
  width: 14%;
}

.w_15 {
  width: 15%;
}

.w_10 {
  width: 10%;
}

.w_12 {
  width: 12%;
}

.w_20 {
  width: 20%;
}

.dashboard_table_head {
  width: 100%;
  height: 30px;
  border: 1px solid #1E8EA5;
  display: flex;
  background-color: #1E8EA5;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  align-items: center;
  padding: 0 10px;
}

.dashboard_row_data {
  display: flex !important;
  font-size: 12px;
  flex-direction: row;
} 

.hp_10 {
  height: 40px !important;
  padding: 10px !important;
}
