.main_parts_selection_cont {
  background-color: #f1f5f8;
  height: 120vh;
} 

.parts_selection_text_cont {
  // text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

.fs_30 {
  font-size: 30px;
  font-weight: 600;
}

.parts_order_btn {
  background-color: #A155B9;
  color: #fff;
  border: 1px solid #A155B9;
  border-radius: 5px;
  font-size: 14px;
  height: 36px;
  padding: 0 30px;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    border: 1px solid #A155B9;
    color: #A155B9;
  }
}

.parts_selection_desc, .part_number_details {
  background-color: #fff;
  // border: 1px solid #e4e4e4;
  border-top: none;
  font-size: 14px;
  width: auto;
}

.parts_selection_desc_text {
  background: #1e8ea5;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.selected_parts_desc {
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

.selected_parts_model, .parts_selection_date {
  padding: 20px;
}

.cust_name {
  padding-left: 78px;
  font-weight: 600;
}

.model_name {
  padding-left: 80px;
  font-weight: 600;
}

.number_plate {
  padding-left: 23px;
  font-weight: 600;
}

.start_date {
  padding-left: 43px;
  font-weight: 600;
}

.start_date_c {
  padding-left: 37px;
  font-weight: 600;
}

.end_date {
  padding-left: 35px;
  font-weight: 600;
}

.order_input_value {
  padding-left: 14px;
  font-weight: 600;
}

.placeholder_img {
width: 83px;
height: 62px;
margin-left: 50px;
}

.part_no_head  {
  display: flex;
  background-color: #8692A6;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 500;
}

ul.accordion-list-parts-selection {
  position: relative;
  display: block;
  width: 100%;
  // height: 50px;
  list-style: none;
  background-color: transparent;
  li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 15px auto 15px -30px;
    border-radius: 5px;
    cursor: pointer;
    &.active {
      .angle_down_ico {
        transform: rotate(-180deg);
      }
    }

    div.parts_answer {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
      background-color: #fff;
      border-radius: 5px;
      font-size: 12px;
    }
  }
}

.part_number_details {
  // height: 500px;
}

.parts_expand_cont_head {
  display: flex;
  height: 30px;
  background-color: #F0F0FF;
  color: #A155B9;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  align-items: center;
  border-radius: 1px;
}

.parts_bidding_desc {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
}

.radio_content {
  display: flex;
  align-items: center;
  color: #1e8ea5;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 5px;
  // text-transform: capitalize;
  background-color: #fff;
  margin-left: -20px;
  border-radius: 5px;
  border-top: 10px solid #8692A6;
}

.dropbtn {
  background: transparent;
  color: #fff;
  border-radius: 5px;
}

.cp {
  cursor: pointer;
}

.dropdown-content > .ddc {
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.pdl_5 {
  padding-left: 5px;
}

.parts_selection_desc_cont {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 20px;
}    

.pdb_10 {
  padding-bottom: 10px;
}

.pdl_35 {
  padding-left: 35px !important;
}

.dropdown-content>.ddc:hover {
  background-color: #1e8ea5;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// .dropdown:hover .dropbtn {
//   // background-color: #;
// }

.dn {
  display: none;
}

.oe_align_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 0;
}
